<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hello, @System.Web.HttpContext.Current.Request.Cookies["Editor"].Value</p>

                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <!-- 这里是左侧导航-->

        <ul class="sidebar-menu">
            <li class="active">
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-dashboard"></i> <span>桌面</span>
                </a>
                
            </li>
            <li>
                <a href="@Url.Action("UserIndex","User")">
                    <i class="fa fa-th"></i> <span>居民信息</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("UserIndex","User")">
                    <i class="fa fa-th"></i> <span>居民分配</span>
                </a>
            </li>
           
            <!-- 留作备用
            <li>
                <a href="pages/widgets.html">
                    <i class="fa fa-th"></i> <span>预约挂号</span> <small class="badge pull-right bg-green">8</small>
                </a>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>新闻中心</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("AddNews","Home")"><i class="fa fa-angle-double-right"></i> 增加新闻</a></li>
                    <li><a href="@Url.Action("NewsList","Home")"><i class="fa fa-angle-double-right"></i>  新闻列表</a></li>
                </ul>
            </li>

          -->

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>系统设置</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("EditorIndex", "Editor")"><i class="fa fa-angle-double-right"></i> 医生设置</a></li>
                    <li><a href="@Url.Action("ArticleClassIndex", "ArticleClass")"><i class="fa fa-angle-double-right"></i> 监控疾病设置</a></li>
                    <li><a href="@Url.Action("ArticleClassIndex", "ArticleClass")"><i class="fa fa-angle-double-right"></i> 社区（单位）设置</a></li>
                   <!-- 留作备用  
                    <li><a href="@Url.Action("NewsList","Home")"><i class="fa fa-angle-double-right"></i>  全科医生设置</a></li>
                    <li><a href="@Url.Action("NewsList","Home")"><i class="fa fa-angle-double-right"></i>  健康档案类别设置</a></li>
                   --> 
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
