@model CrmWeb.Models.HealthAddViewModel
@{
    ViewBag.Title = "个人基本信息录入";
}

<link href="/css/index.css" rel="stylesheet" />

<link href="/css/labelauty.css" rel="stylesheet" />
<script type="text/javascript" src="/js/laydate.js"></script>
<script type="text/javascript" src="/js/laydate.dev.js"></script>
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- top row -->
        <div class="row">
            <div class="col-xs-12 connectedSortable">

            </div><!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title txt-center">@ViewBag.Title</h2>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                
                    <form action="/Health/HealthInsert" method="post">
                        <div class="box-body">

                            <table class="table table-bordered">
                                <tr>
                                    <th class="h3 text-center col-xs-2">血型</th>
                                    <td class=" col-xs-10">
                                        <div class="rdo">

                                            @foreach (string healthInfo in ViewData["HealthXuexingList"] as IEnumerable<string>)
                                           {
                                               <input type="radio" name="HealthXuexing" class="rdolist" value="@healthInfo" />

                                                <label class="rdobox">

                                                <span class="check-image"></span>

                                                <span class="radiobox-content">@healthInfo</span>

                                            </label>
                                           
                                            }

                                           </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="h3 text-center">RH阴性</th>
                                    <td>
                                        <div class="rdo">

                                            @foreach (string healthInfo in ViewData["HealthRHList"] as IEnumerable<string>)
                                            {
                                                <input type="radio" name="HealthRH" class="rdolist" value="@healthInfo" />

                                                <label class="rdobox">

                                                    <span class="check-image"></span>

                                                    <span class="radiobox-content">@healthInfo</span>

                                                </label>

                                            }

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="h3 text-center">医疗费用<br />支付方式</th>
                                    <td>
                                        <div class="fuxuan">

                                            @foreach (string healthInfo in ViewData["HealthFeiyongList"] as IEnumerable<string>)
{
   


                 <input type="checkbox" name="HealthFeiyong" class="chklist"  value="@healthInfo" />

                                                                                     

                                            <label class="chkbox">

                                                <span class="check-image"></span>

                                                <span class="radiobox-content">@healthInfo</span>

                                            </label>

}
                                            <input type="checkbox" name="HealthFeiyong" id="HealthFeiyong8"  class="chklist" value="8 其他" />



                                            <label class="chkbox">

                                                <span class="check-image"></span>

                                                <span class="radiobox-content">8 其他</span>

                                            </label>                                
<input type="text" id="HealthFeiiyongQita" />
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </div><!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">立刻保存</button>
                        </div>

                    </form>
</div>


            </div><!--/.col (left) -->
            <!-- right column -->
            <!--/.col (right) -->
        </div><!-- /.row (main row) -->

    </section><!-- /.content -->
</aside>
@section JsBottom{
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/labelauty.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        //参数{input类名，选择类型(单选or多选)}

        $(".rdolist").labelauty("rdolist", "rdo");

        $(".chklist").labelauty("chklist", "check");

    });
    $("#HealthFeiiyongQita").mouseleave(function () {
        var content = "8 其他：" + $("#HealthFeiiyongQita").val();
        $("#HealthFeiyong8").val(content);

        
    });
</script>




}